<header class="app-header">
    <div class="header-container">
        <div class="header-logo">
            <img src="tk-logo.png" alt="logo">
        </div>
        <nav class="header-nav">
            <a routerLink="/home" routerLinkActive="active" class="nav-link">Início</a>
            <a routerLink="/agendar" routerLinkActive="active" class="nav-link">Agendar</a>
            <a routerLink="/consultar-agendamento" routerLinkActive="active" class="nav-link">Consultar</a>
        </nav>
    </div>
</header>