@import 'ngx-toastr/toastr';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

html,
body {
    height: 100%;
    font-family: 'Inter', sans-serif;
    overflow-x: hidden;
}